.List {
  border: 1px solid #e6e4dc;
  max-width: 100%;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #e6e4dc;
}

button {
  border: 1px solid gray;
}

.info-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 3rem;
  right: 3rem;
  border: 1px solid black;
  padding: 2rem;
  background-color: white;
}

.info-container > p {
  margin: 0;
}